@import url('https://fonts.googleapis.com/css?family=Montserrat');

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

/*-----Icons ------*/
.toolbar__icon-cart {
    width: 24px;
    height: 31px;
    background-image: url('../../assets/icon-cart.png');
    background-size: 24px 31px;
}

.toolbar__icon-cart-text {
    font-size: 10px;
    font-weight: bold;
    position: relative;
    top: 8px;
    left: 6px;

    &:hover {
        text-decoration: underline
    }
}

.toolbar__icon-search {
    width: 27px;
    height: 27px;
    background-image: url('../../assets/icon-search.png');
}

.toolbar__icon-logout {
    width: 29px;
    height: 31px;
    background-image: url('../../assets/icon-logout.png');
}

.toolbar__background {
    width: 100%;
    height: 149px;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
}

.toolbar__container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 160px;
}

.toolbar__navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0, 1rem;
    background-color: #141414;
}

.toolbar__logo {
    width: 134px;
    height: 162px;
    background-image: url('../../assets/logo-shield.png');
    background-size: 134px 162px;
    position: relative;
    left: 518px;
    bottom: 150px;

    a {
        color: #ffffff;
        text-decoration: none;
        font-size: 1.5em;
    }
}

.toolbar__logo-mobile {
    width: 76px;
    height: 68px;
    background-image: url('../../assets/logo-mobile.png');
    background-size: 76px 68px;
    position: relative;
    left: 20px;
    top: 8px;
}

.spacer {
    flex: 1;
}

.toolbar__navigation-items {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    li {
        padding: 0 0.5rem;
        margin: 0 20px 0 20px;

        &:nth-child(3) a {
            margin-right: 350px;
        }
    }
}

a {
    color: #808080;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:active {
        color: aliceblue;
    }

}

.toolbar_top-items {
    height: 40px;

    ul {
        margin: 0;
        padding-top: 15px;
        list-style: none;

    }


    li {
        padding: 0 0.5rem;
        margin: 0 0 0 0;
        color: #767676;
        text-transform: uppercase;
        display: inline-block;

        &:nth-child(1) {
            display: inline;
            margin-left: 8%;
        }

        &:nth-child(2) a {
            margin-right: 530px;
            color: #fff;
        }

        &:nth-child(3) a {
            display: block;
            padding-right: 25px;
        }

        &:nth-child(4) a {
            display: block;
        }

    }
}

.toolbar__mid-items {
    ul {
        margin: 0;
        padding: 0px;
        list-style: none;
        width: 88.5%;
        display: flex;
        justify-content: space-around;

        li {
            padding: 0 0.5rem;
            margin: 0 0 0 0;
            text-transform: uppercase;

            &:nth-child(1) {

                align-items: flex-start;
                margin-left: 11%;

            }

            &:nth-child(2) {
                margin-left: 80%;
            }

            &:nth-child(3) {
                margin-right: 0;
                align-self: flex-end;
            }
        }
    }
}

.separator {
    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;

        li {
            hr {
                width: 490px;
                /* coloque aqui a largura da linha */
                color: rgb(77, 77, 77);
            }

        }
    }
}

@media (max-width: 768px) {

    .toolbar_navigation-items,
    .toolbar__logo,
    .toolbar_top-items,
    .separator,
    .toolbar__background,
    .toolbar__container {
        display: none;
    }

    .toolbar__logo-mobile {
        display: flex;
    }

    .toolbar__navigation {
        height: 60px;
    }

    .toolbar__mobile-icons {

        ul {
            display: flex;
            align-items: center;
            text-decoration: none;
            list-style: none;
            margin-left: 65%;

            li {

                padding: 10px;
            }
        }
    }
}

@media (min-width: 769px) {

    .toolbar__toggle-button,
    .toolbar__logo-mobile,
    .toolbar__mobile-icons {
        display: none;
    }
}